In [15]:
import pandas as pd
wine_df1 = pd.read_csv('wine-reviews/winemag-data_first150k.csv',index_col=0)
wine_df2 = pd.read_csv('wine-reviews/winemag-data-130k-v2.csv', index_col=0)

In [13]:
type(wine_df1)

pandas.core.frame.DataFrame

In [75]:
wine_df1

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [16]:
wine_df1.shape

(150930, 10)

In [22]:
wine_df1.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [64]:
#Let's Groupby Countries and have an overview of the number of countries present in the dataset
country = wine_df1.groupby('country',as_index=False).count()

In [65]:
country.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

In [66]:
country

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,Albania,2,0,2,2,2,0,0,2,2
1,Argentina,5631,3936,5631,5587,5631,5627,0,5631,5631
2,Australia,4957,3347,4957,4894,4957,4957,0,4957,4957
3,Austria,3057,2654,3057,2483,3057,0,0,3057,3057
4,Bosnia and Herzegovina,4,1,4,4,4,0,0,4,4
5,Brazil,25,18,25,25,25,0,0,25,25
6,Bulgaria,77,51,77,77,77,0,0,77,77
7,Canada,196,145,196,194,196,196,0,196,196
8,Chile,5816,4917,5816,5766,5816,0,0,5816,5816
9,China,3,1,3,3,3,0,0,3,3
10,Croatia,89,60,89,83,89,0,0,89,89
11,Cyprus,31,25,31,31,31,0,0,31,31
12,Czech Republic,6,0,6,6,6,0,0,6,6
13,Egypt,3,2,3,0,3,0,0,3,3
14,England,9,9,9,8,9,0,0,9,9
15,France,21098,14507,21098,14785,21098,21083,0,21098,21098
16,Georgia,43,38,43,43,43,0,0,43,43
17,Germany,2452,2299,2452,2347,2452,0,0,2452,2452
18,Greece,884,605,884,872,884,0,0,884,884
19,Hungary,231,182,231,230,231,0,0,231,231
20,India,8,4,8,8,8,0,0,8,8
21,Israel,630,568,630,610,630,0,0,630,630
22,Italy,23478,16890,23478,18784,23478,23478,0,23478,23478
23,Japan,2,2,2,2,2,0,0,2,2
24,Lebanon,37,29,37,37,37,0,0,37,37
25,Lithuania,8,8,8,8,8,0,0,8,8
26,Luxembourg,9,9,9,9,9,0,0,9,9
27,Macedonia,16,7,16,16,16,0,0,16,16
28,Mexico,63,46,63,63,63,0,0,63,63
29,Moldova,71,58,71,71,71,0,0,71,71
30,Montenegro,2,0,2,2,2,0,0,2,2
31,Morocco,12,5,12,12,12,0,0,12,12
32,New Zealand,3320,1585,3320,3070,3320,0,0,3320,3320
33,Portugal,5322,4769,5322,4176,5322,0,0,5322,5322
34,Romania,139,118,139,139,139,0,0,139,139
35,Serbia,14,11,14,14,14,0,0,14,14
36,Slovakia,3,0,3,3,3,0,0,3,3
37,Slovenia,94,60,94,81,94,0,0,94,94
38,South Africa,2258,1200,2258,2237,2258,0,0,2258,2258
39,South Korea,4,4,4,4,4,0,0,4,4
40,Spain,8268,6554,8268,8160,8268,8268,0,8268,8268
41,Switzerland,4,3,4,4,4,0,0,4,4
42,Tunisia,2,2,2,0,2,0,0,2,2
43,Turkey,52,34,52,50,52,0,0,52,52
44,US,62397,40345,62397,62139,62397,62261,60953,62397,62397
45,US-France,1,0,1,1,1,0,0,1,1
46,Ukraine,5,5,5,5,5,0,0,5,5
47,Uruguay,92,77,92,85,92,0,0,92,92

In [73]:
#Let's see the average price of wine in the countries presented in our dataset
wine_df1.groupby('country', as_index=False)['price'].mean()

                   country      price
0                  Albania  20.000000
1                Argentina  20.794881
2                Australia  31.258480
3                  Austria  31.192106
4   Bosnia and Herzegovina  12.750000
5                   Brazil  19.920000
6                 Bulgaria  11.545455
7                   Canada  34.628866
8                    Chile  19.344780
9                    China  20.333333
10                 Croatia  23.108434
11                  Cyprus  15.483871
12          Czech Republic  18.000000
13                   Egypt        NaN
14                 England  47.500000
15                  France  45.619885
16                 Georgia  18.581395
17                 Germany  39.011078
18                  Greece  21.747706
19                 Hungary  44.204348
20                   India  13.875000
21                  Israel  31.304918
22                   Italy  37.547913
23                   Japan  24.000000
24                 Lebanon  25.432432
25               Lithuania  10.000000
26              Luxembourg  40.666667
27               Macedonia  15.312500
28                  Mexico  29.095238
29                 Moldova  15.366197
30              Montenegro  10.000000
31                 Morocco  18.833333
32             New Zealand  24.173290
33                Portugal  26.332615
34                 Romania  16.395683
35                  Serbia  24.285714
36                Slovakia  15.333333
37                Slovenia  28.061728
38            South Africa  21.130532
39             South Korea  13.500000
40                   Spain  27.048529
41             Switzerland  26.500000
42                 Tunisia        NaN
43                  Turkey  25.800000
44                      US  33.653808
45               US-France  50.000000
46                 Ukraine  13.000000
47                 Uruguay  25.847059

In [76]:
#Let's see the average points each country attains from wine reviews
wine_df1.groupby('country', as_index=False)['points'].mean()

                   country     points
0                  Albania  88.000000
1                Argentina  85.996093
2                Australia  87.892475
3                  Austria  89.276742
4   Bosnia and Herzegovina  84.750000
5                   Brazil  83.240000
6                 Bulgaria  85.467532
7                   Canada  88.239796
8                    Chile  86.296768
9                    China  82.000000
10                 Croatia  86.280899
11                  Cyprus  85.870968
12          Czech Republic  85.833333
13                   Egypt  83.666667
14                 England  92.888889
15                  France  88.925870
16                 Georgia  85.511628
17                 Germany  88.626427
18                  Greece  86.117647
19                 Hungary  87.329004
20                   India  87.625000
21                  Israel  87.176190
22                   Italy  88.413664
23                   Japan  85.000000
24                 Lebanon  85.702703
25               Lithuania  84.250000
26              Luxembourg  87.000000
27               Macedonia  84.812500
28                  Mexico  84.761905
29                 Moldova  84.718310
30              Montenegro  82.000000
31                 Morocco  88.166667
32             New Zealand  87.554217
33                Portugal  88.057685
34                 Romania  84.920863
35                  Serbia  87.714286
36                Slovakia  83.666667
37                Slovenia  88.234043
38            South Africa  87.225421
39             South Korea  81.500000
40                   Spain  86.646589
41             Switzerland  87.250000
42                 Tunisia  86.000000
43                  Turkey  88.096154
44                      US  87.818789
45               US-France  88.000000
46                 Ukraine  84.600000
47                 Uruguay  84.478261

In [81]:
#Let's see the varieties of wine we have in our dataset.
varieties = wine_df1.groupby('variety',as_index=False).count()
varieties

,variety,country,description,designation,points,price,province,region_1,region_2,winery
0,Agiorgitiko,120,120,88,120,117,120,0,0,120
1,Aglianico,317,317,239,317,259,317,317,11,317
2,Aidani,1,1,1,1,1,1,0,0,1
3,Airen,6,6,4,6,6,6,6,0,6
4,Albana,17,17,17,17,15,17,16,0,17
...,...,...,...,...,...,...,...,...,...,...
627,Zierfandler-Rotgipfler,3,3,1,3,2,3,0,0,3
628,Zinfandel,3799,3799,2826,3799,3794,3799,3794,3786,3799
629,Zlahtina,4,4,2,4,4,4,0,0,4
630,Zweigelt,219,219,148,219,200,219,3,3,219
631,Žilavka,2,2,0,2,2,2,0,0,2

In [ ]:
count